.img-fluid {
  width: 206px !important;
}

/* .owl-carousel .owl-item img {
  width: 206px !important;
} */

.owl-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: -240px;
  z-index: 99;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  padding: 10px !important;
  font-size: 70px !important;
}

.slider_link {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
}
.body {
  text-align: center;
}
